@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

#app {
  width: 100%;
  min-height: 100vh;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}
